body {
  background-image: url("Images/white-background-with-wavy-lines_23-2149124447.jpg");
  background-size: cover;
  display: grid;
}

.app-wrapper {
  width: 75em;
  margin: 1em auto;
  display: grid;
  grid-template-rows: 3.75em 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 1em;
  grid-template-areas:
  "h h"
  "n c";
}

img {
  border-radius: 0.5em;
}

.app-wrapper-content {
  grid-area: c;
}


